.wrapper__item-recommended
    text-align: center


.wrapper__item-recommended--img
    display: flex
    justify-content: center
    width: 100%
    column-gap: var(--spacing-12)
    padding-top: var(--spacing-8)

    img
        width: 100px
        height: 100px
    
       