<div *ngIf="unit.opened === true" class="card-unity__section box">
  <p class="card-unity__section--subtitle font-green">Aberto</p>
  <h1>{{ unit.title }}</h1>
  <div [innerHTML]="unit.content"></div>

  <hr />

  <div class="card-unity__section--images">
    <img
      [src]="'../../../../../assets/' + unit.mask + '-mask.png'"
      alt="Imagem de ..."
    />
    <img
      [src]="'../../../../../assets/' + unit.towel + '-towel.png'"
      alt="Imagem de ..."
    />
    <img
      [src]="'../../../../../assets/' + unit.fountain + '-fountain.png'"
      alt="Imagem de ..."
    />
    <img
      [src]="'../../../../../assets/' + unit.locker_room + '-lockerroom.png'"
      alt="Imagem de ..."
    />
  </div>

  <div class="card-unity__section--times">
    <div *ngFor="let schedule of unit.schedules">
      <p class="font-title">{{ schedule.weekdays }}</p>
      <p>{{ schedule.hour }}</p>
    </div>
  </div>
</div>

<div *ngIf="unit.opened === false" class="card-unity__section box">
  <p class="card-unity__section--subtitle font-red">Fechado</p>
  <h1>{{ unit.title }}</h1>
  <div [innerHTML]="unit.content"></div>
</div>
