.card-unity__section
    display: flex
    flex-direction: column
    row-gap: 12px
   

    hr
        height: 1px
        width: 100%
        background-color: var(--light-text)
        border-color: var(--light-text)
        color: var(--light-text)
        border: none
        
    h1 
        font-size: 24px

.card-unity__section--subtitle
    font-weight: 700

.card-unity__section--images
    display: flex
    justify-content: space-between
    width: 100%
    
    img
        height: 100%
        width: 20%

.card-unity__section--times
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-column-gap: 24px
    grid-row-gap: 24px
    margin-top: 12px
    
.box
    border-radius: 0.2em 
    box-shadow: 0px 3px 6px 0px var(--medium-text)
    padding: 12px
    background-color: rgba(229, 229, 229, 0.5)
    min-height: 282px
    height: 100%

.font-title
    font-size: 18px
    font-weight: 700    

.font-green
    color: var(--green)

.font-red
    color: var(--red)
