.card-unity__section
    display: flex
    flex-direction: column
    row-gap: 12px

    h1 
        font-size: 24px

    img
        height: 80px
        width: 80px

.card-unity__section--subtitle
    color: green
    font-weight: 700

.card-unity__section--times
    display: flex
    flex-wrap: wrap
    gap: 12px

    &:first-child 
       font-weight: 700         
    
.box
    border-radius: 0.2em 
    box-shadow: 0px 3px 6px 0px var(--medium-text)
    padding: 8px
    background-color: var(--light-text)