<section class="section-home">
  <h1>REABERTURA <br />SMART FIT</h1>
  <hr class="line-title" />
  <p>
    O horário de funcionamento das nossas unidades está seguindo os decretos de
    cada município. Por isso, confira aqui se a sua unidade está aberta e as
    medidas de segurança que estamos seguindo.
  </p>

  <section class="section__form box-padding box-border box-radius">
    <div class="section__form--hour">
      <img src="../../../assets/icon-hour.png" alt="Imagem de um relógio" />
      <p>Horário</p>
    </div>
    <app-form-mark-workout
      (sendEventToFilterUnits)="filterUnits($event)"
      [numberItens]="numberItens"
    />
  </section>

  <section class="section__recommended box-light-gray box-padding">
    <div *ngFor="let item of itensRecommendeds">
      <app-item-recommended [item]="item" />
    </div>
  </section>

  <section
    *ngIf="unitsLocations && unitsFiltered.length === 0"
    class="section__unities"
  >
    <div *ngFor="let unit of unitsLocations.locations">
      <app-card-unity [unit]="unit" />
    </div>
  </section>

  <section *ngIf="unitsFiltered.length > 0" class="section__unities">
    <div *ngFor="let unit of unitsFiltered">
      <app-card-unity [unit]="unit" />
    </div>
  </section>
</section>
