<section class="section-home">
  <h1>REABERTURA <br />SMART FIT</h1>
  <hr class="line-title" />
  <p>
    O horário de funcionamento das nossas unidades está seguindo os decretos de
    cada município. Por isso, confira aqui se a sua unidade está aberta e as
    medidas de segurança que estamos seguindo.
  </p>

  <section class="section__form box-padding box-border box-radius">
    <div class="section__form--hour">
      <img
        src="../../../assets/icon-hour.png"
        loading="lazy"
        alt="Imagem de um relógio"
      />
      <p>Horário</p>
    </div>
    <app-form-mark-workout
      (sendEventToFilterUnits)="filterUnits($event)"
      [numberItems]="numberItems"
    />
  </section>

  <section class="section__recommended box-light-gray box-padding">
    <div *ngFor="let item of itemsRecommended">
      <app-item-recommended [item]="item" />
    </div>
  </section>
  <ng-template #noUnits>
    <h1>Nenhuma unidade encontrada</h1>
  </ng-template>
  <ng-container
    *ngIf="unitsFiltered.length > 0 || unitsLocations; else noUnits"
  >
    <section class="section__unities">
      <div *ngFor="let unit of whoIsToListItem()">
        <app-card-unity [unit]="unit" />
      </div>
    </section>
  </ng-container>
</section>
