.form__mark-wokout
    display: flex
    flex-direction: column
    row-gap: 12px
    width: 100%
    
    hr
        height: 2px
        width: 100%
        background-color: #808080

.flex-space-between
    display: flex
    justify-content: space-between       

.form__mark-wokout--buttons
    display: flex
    justify-content: center
    column-gap: 8px

.btn 
    height: 40px
    width: 280px
    font-weight: 700
    text-transform: uppercase
    cursor: pointer

.btn-primary
    background-color: yellow

.btn-secondary
    background-color: white
