/* You can add global styles to this file, and also import other style files */
$dark-grey: #333333
$light-grey: #808080
$yellow: #FFB612
$red: #dc0a17
$green: #2FC022
$dark: #000
$light: #fff

*
    margin: 0
    padding: 0
    box-sizing: border-box

    


    